.dashboardComponent{
  height: 95%;
}

.topHeader {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 0 16px;
}

.listHeader {
  background-color: #9f72e6;
  border-bottom: 1px solid #545e6f;
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: row;
  height: 45px;
  padding: 0 16px 0 66px;

  div {
    color: #ffffff;
    flex: 1;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
  }
}

.tableContainer {
  background-color: #fafafa;
  border: 1px solid rgba(84, 94, 111, 0.2);
  box-shadow: 1px 1px 3px 1px #ccc;
  border-radius: 0 0 8px 8px;
  height: 80%;
  overflow-y: scroll;
  width: 100%;
}