.listItem {
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  height: 45px;

  &.checkedIn {
    background-color: rgba(0, 219, 0, 0.1);
  }

  div {
    height: 100%;
    flex: 1;
    line-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

div.checked {
  align-self: center;
  background-color: red;
  border-radius: 100%;
  height: 20px!important;
  flex: 0 0 20px!important;
  margin-right: 30px;

  &.checkedIn {
    background-color: rgba(0, 219, 0, 1);
  }
}